<div class="lesson-list">
  <div class="lesson-list-wrapper container">
    <a class="board-wrapper-item" *ngFor='let lesson of unit; let i = index' (click)='onGoLesson(i+1)'>
      <button class="button-blue">
        <span>Lesson {{i + 1}}</span>
        <div class="button-arrow">
          <img src="./../../../../assets/arrow.svg" alt="" />
        </div>
      </button>
    </a>
  </div>
  <div class="container">
    <a href="javascript:history.back();">
      <button class="button-clear">
        <span>Назад</span>
        <div class="button-arrow">
          <img src="./../../../../assets/arrow.svg" alt="" />
        </div>
      </button>
    </a>
  </div>
</div>
