.lesson-list {
  background-image: url(./../../../../assets/unit.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      height: 65%;
    }
    & > * {
      margin: 10px 10px;
    }
  }
}
