.lesson-list {
  background-image: url(./../../../../assets/unit.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin: 20px 10px;
    }
  }
}

button:focus {
  outline: none;
}

.button {
  &-clear {
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    border-radius: 4px;
    transition: 0.3s;
    border: 1px solid #c6dee022;
    &:hover {
      transition: 0.3s;
      background: rgba(255, 255, 255, 0.16);
      & .button-arrow {
        background: none;
      }
    }
  }
  &-blue {
    background: linear-gradient(89.77deg, #006cce 0.15%, #0084ff 106.03%);
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    border-radius: 4px;
    transition: 0.3s;
    border: 1px solid #c6dee022;
    height: 55px;
    width: 140px;
    @media (max-width: 991px) {
      height: 45px;
    }
    &:hover {
      background: linear-gradient(89.77deg, #2984d8 0.15%, #2996fc 106.03%);
      transition: 0.3s;
      & .button-arrow {
        background: none;
      }
    }
  }
}
