.iframeBg {
  height: 450px;
}
h3 {
  padding: 15px 0;
}

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  background: aliceblue;
  width: 100%;
  height: 100vh;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & button {
      color: black;
    }
  }
}
