<div class="lesson">
  <div class="container">
    <div class="tasks-list">
      <div *ngFor="let task of tasks; let i = index">
        <button class="button-yl" (click)="onOpenMadal(task)">
          <h3>{{task.title}}</h3>
        </button>
      </div>
    </div>
    <a href="javascript:history.back();">
      <button class="button-clear">
        <span>Назад</span>
        <div class="button-arrow">
          <img src="./../../../../assets/arrow.svg" alt="" />
        </div>

      </button>
    </a>
  </div>
</div>

<div *ngIf=openMadal class="modal-custom">
  <div class="modal-custom-header">
    <h3 (click)="onCloseMadal()">{{madalTask.title}}</h3>
    <button (click)="onCloseMadal()" class="button-black">X</button>
  </div>
  <iframe *ngIf="!isArray" [src]="madalTask.src | safe" width="100%" height="100%"></iframe>
  <div *ngIf="isArray">
    <div *ngFor="let item of madalTask.src; let i = index">
      <div>{{item.title}}</div>
      <iframe [src]="item.src | safe" width="100%" height="100%"></iframe>
    </div>
  </div>
