<div class="board">
  <div class="container">
    <div class="row">
      <a class="col-4" href="">Unit 1</a>
      <a class="col-4" href="">Unit 2</a>
      <a class="col-4" href="">Unit 3</a>
    </div>
    <div class="row">
      <a class="col-4" href="">Unit 4</a>
      <a class="col-4" href="">Unit 5</a>
      <a class="col-4" href="">Unit 6</a>
    </div>
    <div class="row">
      <a class="col-4" href="">Unit 7</a>
      <a class="col-4" href="">Unit 8</a>
      <a class="col-4" href="">Unit 9</a>
    </div>
  </div>
</div>
