a {
  color: rgba(0, 0, 0, 0.596);
  text-decoration: none;
  font-size: 16px;
  transform: 0.5ss;
  margin: 10px;
  &:hover {
    opacity: 0.7;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}

button {
  outline: none;
  border: none;
  background: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & :focus {
    outline: none;
  }
}
.button-arrow {
  padding: 10px 15px;
  margin: 5px 5px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  width: -moz-fit-content;
  transition: 0.3s;
  width: fit-content;
}

body {
  background: #fcfd95;
}

.button {
  &-clear {
    background: linear-gradient(89.77deg, #ce0000 0.15%, #ff0000 106.03%);
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    border-radius: 4px;
    transition: 0.3s;
    border: 1px solid #c6dee022;
    flex-direction: row-reverse;
    & img {
      transform: scale(-1);
    }
    &:hover {
      transition: 0.3s;
      background: linear-gradient(89.77deg, #f82929 0.15%, #f82929 106.03%);
      & .button-arrow {
        background: none;
      }
    }
  }
  &-black {
    background: linear-gradient(89.77deg, #5a5a5a 0.15%, #2c2c2c 106.03%);
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    border-radius: 4px;
    transition: 0.3s;
    border: 1px solid #c6dee022;
    flex-direction: row-reverse;
    padding: 10px 20px;
    & img {
      transform: scale(-1);
    }
    &:hover {
      transition: 0.3s;
      background: linear-gradient(89.77deg, #e7cfcf 0.15%, #816c6c 106.03%);
      & .button-arrow {
        background: none;
      }
    }
  }
  &-blue {
    background: linear-gradient(89.77deg, #006cce 0.15%, #0084ff 106.03%);
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    border-radius: 4px;
    transition: 0.3s;
    &:hover {
      background: linear-gradient(89.77deg, #2984d8 0.15%, #2996fc 106.03%);
      transition: 0.3s;
      & .button-arrow {
        background: none;
      }
    }
  }
  &-yl {
    background: linear-gradient(89.77deg, #07bd9e 0.15%, #0fcccc 106.03%);
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    border-radius: 4px;
    transition: 0.3s;
    border: 1px solid #c6dee022;
    height: 100px;
    width: 50%;
    margin: 20px 0;
    text-align: start;
    @media (max-width: 991px) {
      height: auto;
      width: 100%;
    }
    &:hover {
      background: linear-gradient(89.77deg, #2984d8 0.15%, #2996fc 106.03%);
      transition: 0.3s;
      & .button-arrow {
        background: none;
      }
    }
  }
}

iframe {
  .h5p-audio-minimal-button {
    width: auto;
  }
}
